In [4]:
import sqlite3

In [12]:
con = sqlite3.connect("sqlite_db_pythonsqlite.db")
cur = con.cursor()

In [16]:
query10 = """
    SELECT sub.name, SUM( sub.revenue ) AS revenue
    FROM (
    SELECT b.facid, b.memid, f.name, f.guestcost, f.membercost, COUNT( b.facid ) AS facid_count,
    CASE
    WHEN b.memid =0
    THEN COUNT( b.facid ) * f.guestcost
    ELSE COUNT( b.facid ) * f.membercost
    END AS 'revenue'
    FROM Bookings AS b
    LEFT JOIN Facilities AS f ON b.facid = f.facid
    GROUP BY b.facid, b.memid
    ) AS sub
    GROUP BY sub.facid
    HAVING revenue <=1000
    """
cur.execute(query10)

rows = cur.fetchall()

for row in rows:
    print(row)

('Badminton Court', 604.5)
('Table Tennis', 90)
('Snooker Table', 115)
('Pool Table', 265)

In [19]:
query11 = """
    SELECT firstname, surname, (SELECT firstname from Members as m2 where m2.memid = m1.recommendedby
    and m1.recommendedby != 0) as Reco_firstname,
    (SELECT surname from Members as m2 where m2.memid = m1.recommendedby and m1.recommendedby != 0)
    as Reco_surtname
    FROM Members as m1
    WHERE memid != 0
    ORDER BY surname, firstname;
    """
cur.execute(query11)

rows = cur.fetchall()

for row in rows:
    print(row)

('Florence', 'Bader', 'Ponder', 'Stibbons')
('Anne', 'Baker', 'Ponder', 'Stibbons')
('Timothy', 'Baker', 'Jemima', 'Farrell')
('Tim', 'Boothe', 'Tim', 'Rownam')
('Gerald', 'Butters', 'Darren', 'Smith')
('Joan', 'Coplin', 'Timothy', 'Baker')
('Erica', 'Crumpet', 'Tracy', 'Smith')
('Nancy', 'Dare', 'Janice', 'Joplette')
('David', 'Farrell', None, None)
('Jemima', 'Farrell', None, None)
('Matthew', 'Genting', 'Gerald', 'Butters')
('John', 'Hunt', 'Millicent', 'Purview')
('David', 'Jones', 'Janice', 'Joplette')
('Douglas', 'Jones', 'David', 'Jones')
('Janice', 'Joplette', 'Darren', 'Smith')
('Anna', 'Mackenzie', 'Darren', 'Smith')
('Charles', 'Owen', 'Darren', 'Smith')
('David', 'Pinker', 'Jemima', 'Farrell')
('Millicent', 'Purview', 'Tracy', 'Smith')
('Tim', 'Rownam', None, None)
('Henrietta', 'Rumney', 'Matthew', 'Genting')
('Ramnaresh', 'Sarwin', 'Florence', 'Bader')
('Darren', 'Smith', None, None)
('Darren', 'Smith', None, None)
('Jack', 'Smith', 'Darren', 'Smith')
('Tracy', 'Smith', None, None)
('Ponder', 'Stibbons', 'Burton', 'Tracy')
('Burton', 'Tracy', None, None)
('Hyacinth', 'Tupperware', None, None)
('Henry', 'Worthington-Smyth', 'Tracy', 'Smith')

In [20]:
query12 = """
    SELECT b.facid, COUNT( b.memid ) AS mem_usage, f.name
    FROM (
    SELECT facid, memid
    FROM Bookings
    WHERE memid !=0
    ) AS b
    LEFT JOIN Facilities AS f ON b.facid = f.facid
    GROUP BY b.facid
    """
cur.execute(query12)

rows = cur.fetchall()

for row in rows:
    print(row)

(0, 308, 'Tennis Court 1')
(1, 276, 'Tennis Court 2')
(2, 344, 'Badminton Court')
(3, 385, 'Table Tennis')
(4, 421, 'Massage Room 1')
(5, 27, 'Massage Room 2')
(6, 195, 'Squash Court')
(7, 421, 'Snooker Table')
(8, 783, 'Pool Table')

In [21]:
query13 = """
    SELECT b.months, COUNT( b.memid ) AS mem_usage
    FROM (
    SELECT strftime('%m', starttime ) AS months, memid
    FROM Bookings
    WHERE memid !=0
    ) AS b
    GROUP BY b.months
    """
cur.execute(query13)

rows = cur.fetchall()

for row in rows:
    print(row)

('07', 480)
('08', 1168)
('09', 1512)